<div class="menu-categories">
  <ul class="menu-categories__list">
    <li class="menu-categories__item"><a class="menu-categories__link" href="#">Квадроциклы</a></li>
    <li class="menu-categories__item"><a class="menu-categories__link" href="#">Катера</a></li>
    <li class="menu-categories__item"><a class="menu-categories__link" href="#">Гидроциклы</a></li>
    <li class="menu-categories__item"><a class="menu-categories__link" href="#">Лодки</a></li>
    <li class="menu-categories__item"><a class="menu-categories__link" href="#">Вездеходы</a></li>
    <li class="menu-categories__item"><a class="menu-categories__link" href="#">Снегоходы</a></li>
    <li class="menu-categories__item"><a class="menu-categories__link" href="#">Двигатели</a></li>
    <li class="menu-categories__item"><a class="menu-categories__link" href="#">Запчасти</a></li>

  </ul>
</div>
