  <!-- product card -->
  <!-- it's simple product card! It's don't include -->
  <div class="swiper-slide popular-goods__slider-item product__item">
    <div class="product__not-available">
      <p>нет в наличии</p>
      <a href="#">Сообщить о поступлении</a>
    </div>
    <button class="product__favorites product__favorites--active">
      <svg class="product__favorites-icon">
        <use xlink:href="img/svg/sprite/sprite.svg#product__likes-icon"></use>
      </svg>
    </button>
    <div class="product__head">
      <a href="#" class="product__img-link">
        <img class="product__img"
          src="img/content/goods/brp-seadoo-gti-130hp-se-blackmango-orange-73936232995706_small61.jpg">
        <div class="product__quick-view">
          Посмотреть товар
        </div>
      </a>
      <!--product__head-->
    </div>
    <div class="product__info">
      <p class="product__title">
        <a href="#" title="Перейти на страницу товара" class="product__link">
          Гидроцикл BRP SeaDoo GTI 130hp SE Black\Mango
        </a></p>
    </div>
    <div class="product__footer">
      <div class="product__price">
        <span class="product__price-current">
          1 049 500 ₽
        </span>
      </div>
      <button class="product__btn">
        <svg class="product__btn-icon">
          <use xlink:href="img/svg/sprite/sprite.svg#product__cart-icon"></use>
        </svg>
      </button>
    </div>
  </div>


  <!-- product card end -->
