<nav class="header-menu">
  <button class="humburger__btn">

    <svg class="humburger__icon">
      <use xlink:href="img/svg/sprite/sprite.svg#humburger__icon"></use>
    </svg>
  </button>
  <ul class="mobile-menu__list">
    <li><span class="mobile-menu__icon">
      <svg class="humburger__icon">
        <use xlink:href="img/svg/sprite/sprite.svg#user-icon"></use>
      </svg>
    </span>Войти</li>
    <li><span class="mobile-menu__icon">
      <svg class="humburger__icon">
        <use xlink:href="img/svg/sprite/sprite.svg#user-icon"></use>
      </svg>
    </span>Регистрация</li>
    <li><span class="mobile-menu__icon">
      <svg class="humburger__icon">
        <use xlink:href="img/svg/sprite/sprite.svg#product__likes-icon"></use>
      </svg>
    </span>Избранное</li>
    <li><span class="mobile-menu__icon">
      <svg class="humburger__icon">
        <use xlink:href="img/svg/sprite/sprite.svg#cart-icon"></use>
      </svg>
    </span>Корзина</li>
    <li><span class="mobile-menu__icon">
      <svg class="humburger__icon">
        <use xlink:href="img/svg/sprite/sprite.svg#mobile-menu__shop-icon"></use>
      </svg>
    </span>Магазины</li>
    <li><span class="mobile-menu__icon">
      <svg class="humburger__icon">
        <use xlink:href="img/svg/sprite/sprite.svg#mobile-menu__sale-icon"></use>
      </svg>
    </span>Акции</li>
    <li><span class="mobile-menu__icon">
      <svg class="humburger__icon">
        <use xlink:href="img/svg/sprite/sprite.svg#mobile-menu__delivery-icon"></use>
      </svg>
    </span>Доставка и оплата</li>
    <li>Квадроциклы</li>
    <li>Катера</li>
    <li>Гидроциклы</li>
    <li>Лодки</li>
    <li>Вездеходы</li>
    <li>Снегоходы</li>
    <li>Двигатели</li>
    <li>Запчасти</li>

  </ul>
  <ul class="header-menu__list">
    <li class="header-menu__item">
      <a class="header-menu__link" href="#">
        Магазины
      </a>
    </li>
    <li class="header-menu__item">
      <a class="header-menu__link" href="#">
        Акции
      </a>
    </li>
    <li class="header-menu__item">
      <a class="header-menu__link" href="#">
        Доставка и оплата
      </a>
    </li>
  </ul>
</nav>
