.product-suggestion {
  &__content {
    margin: 25px 0 35px;
  }

  &__title {
    font-size: 25px;
    line-height: 30px;
    @extend %Barlow-Bold;
    margin-bottom: 25px;
  }

  &__menu-list {
    font-size: 15px;
    line-height: 18px;
    font-weight: normal;
    justify-content: start;
  }

  &__item {
    margin-right: 50px;

    a {
      padding-bottom: 5px;
    }
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__slider-item {
    box-sizing: border-box;
  }

  &__slider-navigation {
    position: relative;
    right: 0;
    left: 0;
    bottom: 210px;
  }


}



@media (max-width: 767px) {
  .product-suggestion {
    &__title {
      margin-bottom: 55px;
    }
  }
}

@media (max-width: 480px) {
  .product-suggestion {
    &__item {
      padding-bottom: 20px;
    }

    // &__slider-navigation {
    //   width: 350px;
    //   right: 0;
    // }
  }



}
