<div class="user-menu">
  <ul class="user-menu__list">
    <li class="user-menu__item">
      <a class="user-menu__link" href="#">
        <svg class="user-menu__icon">
          <use xlink:href="img/svg/sprite/sprite.svg#product__likes-icon"></use>
        </svg>
      </a>
    </li>
    <li class="user-menu__item">
      <a class="user-menu__link" href="#">
        <svg class="user-menu__icon">
          <use xlink:href="img/svg/sprite/sprite.svg#user-icon"></use>
        </svg>
      </a>
    </li>
    <li class="user-menu__item">
      <a class="user-menu__link basket" href="#">
        <svg class="user-menu__icon">
          <use xlink:href="img/svg/sprite/sprite.svg#cart-icon"></use>
        </svg>
        <span class="basket__num">1</span>
      </a>
    </li>
  </ul>
</div>
