.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .container {
    max-width: auto;
  }
}

/* Iphone 5 */
// @media (max-width: 320px) {
// }
