<form class="products-filter__form">
  <div class="products-filter__drop-item">
    <p class="products-filter__drop-item-title products-filter__drop-item-title--active">Наличие</p>
    <div class="products-filter__content">
      <div class="products-filter__content-box">
        <label>
          <input type="checkbox" class="products-filter__box-available" name="productAvalible">
          В наличии
        </label>
      </div>
      <div class="products-filter__content-box">
        <label>
          <input type="checkbox" class="">
          Под заказ
        </label>
      </div>
    </div>
  </div>
  <!-- form item end -->
  <!-- new form item -->
  <div class="products-filter__drop-item">
    <p class="products-filter__drop-item-title products-filter__drop-item-title--active">Новинки</p>
    <div class="products-filter__content">
      <div class="products-filter__content-box">
        <label>
          <input type="checkbox" class="">
          Все
        </label>
      </div>
      <div class="products-filter__content-box">
        <label>
          <input type="checkbox" class="">
          Новинки
        </label>
      </div>
      <div class="products-filter__content-box">
        <label>
          <input type="checkbox" class="">
          Акции
        </label>
      </div>
    </div>
  </div>
  <!-- form item end -->
  <!-- new form item -->
  <div class="products-filter__drop-item">
    <p class="products-filter__drop-item-title products-filter__drop-item-title--active">Цена</p>
    <div class="products-filter__content">
      <input type="text" class="js-range-slider products-filter__range-slider" name="my_range" value="" />
      <div class="products-filter__range-controls">
        <label>
          от
          <input type="text" class="js-input-from" value="0" />
        </label>
        <label>
          до
          <input type="text" class="js-input-to" value="0" />
        </label>
      </div>
    </div>
  </div>
  <!-- form item end -->
  <!-- new form item -->
  <div class="products-filter__drop-item">
    <p class="products-filter__drop-item-title products-filter__drop-item-title--active">Мощность</p>
    <div class="products-filter__content">
      <div class="products-filter__option-item">
        <p class="products-filter__option-item-title">Мощность, л.с.</p>
        <div class="products-filter__option-item-list">
          <select>
            <option>90</option>
            <option>130</option>
            <option>154</option>
            <option>230</option>
          </select>
        </div>
      </div>
      <div class="products-filter__option-item">
        <p class="products-filter__option-item-title">Мощность двигателя, л.с.</p>
        <div class="products-filter__option-item-list">
          <select>
            <option>90</option>
            <option>130</option>
            <option>154</option>
            <option>230</option>
          </select>
        </div>
      </div>
      <div class="products-filter__option-item">
        <p class="products-filter__option-item-title">Макс. скорость</p>
        <div class="products-filter__option-item-list">
          <select>
            <option>90</option>
            <option>130</option>
            <option>154</option>
            <option>230</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <!-- form item end -->
  <!-- new form item -->
  <div class="products-filter__drop-item">
    <p class="products-filter__drop-item-title products-filter__drop-item-title--active">Бренд</p>
    <div class="products-filter__content">
      <div class="products-filter__content-box products-filter__content-box--full-width">
        <label>
          <input type="checkbox" class="">
          BRP
        </label>

        <label>
          <input type="checkbox" class="">
          Spark 2
        </label>

      </div>
      <div class="products-filter__content-box">

      </div>
      <div class="products-filter__content-box products-filter__content-box--full-width">
        <label>
          <input type="checkbox" class="">
          Spark 3
        </label>
      </div>
    </div>
  </div>
  <!-- form item end -->
  <!-- new form item -->
  <div class="products-filter__drop-item">
    <p class="products-filter__drop-item-title products-filter__drop-item-title--active">Модель</p>
    <div class="products-filter__content">


      <input type="text" class="products-filter__input-model" name="freeSearchByModel"
        placeholder="Введите модель "></input>

      <div class="products-filter__content-box products-filter__content-box--full-width">
        <label>
          <input type="checkbox" class="">
          Sea-doo Spark 2
        </label>
        <label>
          <input type="checkbox" class="">
          SeaDoo Spark 90
        </label>

      </div>

      <div class="products-filter__content-box products-filter__content-box--full-width">
        <label>
          <input type="checkbox" class="">
          SeaDoo GTI 155
        </label>

        <label>
          <input type="checkbox" class="">
          SeaDoo GTR 230
        </label>
      </div>
    </div>
  </div>
  <!-- form item end -->
  <!-- new form item -->
  <div class="products-filter__drop-item">
    <p class="products-filter__drop-item-title products-filter__drop-item-title--active">Акции</p>
    <div class="products-filter__content">
      <div class="products-filter__content-box products-filter__content-box--full-width">
        <span class="products-filter__sticker products-filter__sticker--sale">
          SALE
        </span>

        <span class="products-filter__sticker products-filter__sticker--disabled">
          NEW
        </span>

        <span class="products-filter__sticker products-filter__sticker--disabled">
          HIT
        </span>

        <span class="products-filter__sticker products-filter__sticker--dealer">
          ДИЛЕР
        </span>


      </div>


    </div>
  </div>
  <!-- form item end -->
  <!-- new form item -->
  <div class="products-filter__drop-item">
    <p class="products-filter__drop-item-title products-filter__drop-item-title--active">Страны</p>
    <div class="products-filter__content">
      <div class="products-filter__content-box products-filter__content-box--full-width">
        <label>
          <input type="checkbox" class="">
          Россия
        </label>
        <label>
          <input type="checkbox" class="" name="box-filter__country-germany">
          Германия
        </label>

      </div>

      <div class="products-filter__content-box products-filter__content-box--full-width">
        <label>
          <input type="checkbox" class="">
          Китай
        </label>

        <label>
          <input type="checkbox" class="">
          CША
        </label>
      </div>
    </div>
  </div>

  <!-- form item end -->

  <button class="products-filter__submit-btn" onclick="return false;">ВЫБРАТЬ</button>
  <a class="products-filter__reset-btn">Сбросить фильтр</a>


</form>
