.banner {
  width: 265px;
  height: 397px;
  position: relative;
  border: 1px solid #CDCDCD;
  border-radius:3px;
  text-align: center;
  margin-left: auto;
  &__header {
    margin-bottom:30px;
  }

  &__label {
    background-color: #1C62CD;
    color:#fff;
    font-size: 12px;
    line-height: 15px;
    width:90px;
    height: 30px;
    padding:8px 20px;

  }


  &__price {
    position: absolute;
    top: 1px;
    right: 0;
    width: 113px;
    height: 33px;
    margin-right: 9px;
    margin-top: 3px;
    color: #1C62CD;
    @extend %sf-bold;
    font-size: 27px;
    line-height: 32px;
    padding-right: 9px;
  }

  &__price::after {
    content: "";
    position: absolute;
    background-image: url("/img/svg/ruble-icon.svg");
    width: 15px;
    height: 18px;
    top: 7px;
    right: -4px;

  }



  &__price--oldprice {
    position: relative;
    right: -35px;
    color: #C4C4C4;
    font-size: 14px;
    line-height: 17px;
    @extend %Barlow-regular

  }





  &__price--oldprice::after {
    width: 8px;
    height: 9px;
    display: inline-block;
    content: url(data:image/svg+xml,%3Csvg%20width%3D%228%22%20height%3D%229%22%20viewBox%3D%220%200%2016%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.67725%208.91791C2.67725%206.13866%202.67725%203.35941%202.67725%200.394878C5.48023%200.394878%208.01809%200.28371%2010.5559%200.431937C13.2074%200.580164%2015.2149%203.02591%2015.1392%205.69399C15.0634%208.28795%2013.018%2010.5484%2010.3665%2010.6596C8.47263%2010.7707%206.61658%2010.6966%204.64692%2010.6966L2.67725%208.91791ZM4.64692%202.09949C4.64692%204.47111%204.64692%206.69451%204.64692%208.99203C5.13933%209.02908%206.61659%208.99203%206.99537%208.99203C8.05596%208.99203%209.53322%209.02908%2010.3665%208.91791C12.1468%208.73263%2013.4347%207.21331%2013.3968%205.5087C13.3589%203.72998%2011.9953%202.21066%2010.1393%202.09949C8.35898%202.02537%206.54083%202.09949%204.64692%202.09949Z%22%20fill%3D%22%23C4C4C4%22%2F%3E%3Cpath%20d%3D%22M8.24571%2011.1043C7.67754%2011.1043%207.07148%2011.1043%206.46543%2011.1043C5.85938%2011.1043%205.25333%2011.1043%204.64728%2011.1043V10.3631C5.25333%2010.3631%205.85938%2010.3631%206.46543%2010.3631C7.79117%2010.3631%209.07905%2010.4002%2010.3669%2010.3261C12.7911%2010.1779%2014.7229%208.17681%2014.7608%205.69402C14.8365%203.13711%2012.9047%200.950759%2010.5184%200.802532C8.77601%200.691362%207.03361%200.728416%205.21545%200.765473C4.49577%200.765473%203.77608%200.802532%203.05639%200.802532V8.955H2.29883V0.0613989H2.67761C3.54881%200.0613989%204.38213%200.0613966%205.21545%200.02434C7.07149%20-0.0127167%208.81389%20-0.0127144%2010.5942%200.0613989C13.3972%200.209626%2015.5941%202.76654%2015.5562%205.69402C15.4804%208.54738%2013.2456%2010.8819%2010.4426%2011.0302C9.68508%2011.1043%208.9654%2011.1043%208.24571%2011.1043ZM8.24571%209.36262C7.86693%209.36262%207.45027%209.36262%206.99574%209.36262C6.84422%209.36262%206.54121%209.36262%206.2003%209.36262C5.59425%209.36262%204.91244%209.36262%204.60941%209.36262L4.2685%209.32556V1.69189H4.64728C5.25333%201.69189%205.82152%201.69189%206.38969%201.69189C7.67755%201.69189%208.92753%201.65484%2010.1775%201.72895C12.1851%201.84012%2013.7759%203.50767%2013.8138%205.50873C13.8517%207.43568%2012.3366%209.10322%2010.4426%209.2885C9.95023%209.36262%209.19267%209.36262%208.24571%209.36262ZM6.84421%208.62149C6.91997%208.62149%206.95786%208.62149%206.99574%208.62149C8.58662%208.65855%209.68508%208.62149%2010.329%208.58443C11.8441%208.4362%2013.0563%207.10216%2013.0184%205.54578C13.0184%203.91529%2011.7305%202.58125%2010.1018%202.50714C8.88965%202.43303%207.67755%202.47008%206.38969%202.47008C5.93515%202.47008%205.4806%202.47008%205.02606%202.47008V8.62149C5.36697%208.62149%205.82152%208.62149%206.2003%208.62149C6.46545%208.62149%206.6927%208.62149%206.84421%208.62149Z%22%20fill%3D%22%23C4C4C4%22%2F%3E%3Cpath%20d%3D%22M5.32865%208.99207H0.972656V10.7337H5.32865V8.99207Z%22%20fill%3D%22%23C4C4C4%22%2F%3E%3Cpath%20d%3D%22M5.6702%2011.0672H0.556641V8.58435H5.6702V11.0672ZM1.35207%2010.326H4.9505V9.32548H1.35207V10.326Z%22%20fill%3D%22%23C4C4C4%22%2F%3E%3Cpath%20d%3D%22M8.85134%2012.4384H0.972656V14.18H8.85134V12.4384Z%22%20fill%3D%22%23C4C4C4%22%2F%3E%3Cpath%20d%3D%22M9.23%2014.5507H0.59375V12.0679H9.23V14.5507ZM1.35131%2013.8095H8.47244V12.809H1.35131V13.8095Z%22%20fill%3D%22%23C4C4C4%22%2F%3E%3Cpath%20d%3D%22M4.64692%207.91736H2.67725V17.6262H4.64692V7.91736Z%22%20fill%3D%22%23C4C4C4%22%2F%3E%3Cpath%20d%3D%22M5.02606%2017.9968H2.29883V7.54688H5.02606V17.9968ZM3.05639%2017.2557H4.2685V8.28801H3.05639V17.2557Z%22%20fill%3D%22%23C4C4C4%22%2F%3E%3C%2Fsvg%3E);

  }

  &__price--oldprice::before {
    content: '';
    width: 49px;
    height: 2px;
    position: absolute;
    top: 7px;
    background-color: #C4C4C4;
    transform: rotate(-12deg);

  }

  &__item-title {
    font-size: 18px;
    line-height: 21px;
    padding:5px 0 7px;
    @extend %sf-bold;
  }

  &__footer {
    background-color:#F0F0F4;
  //  position:absolute;
    bottom: 0;
    width:100%;
    height: 100px;
    text-align: center;
    padding-top:26px;
  }
  &__text {
    font-size: 18px;
    line-height: 21px;
  }
  &__text--blue {
    font-size: 18px;
    line-height: 21px;
    color: #1C62CD;
    @extend %Barlow-Bold;

  }

}

